.about-header {
    background-image: url(../Assests/img/about/banner.png);
    width: 100%;
    height: 40vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 14px;
}

.h2 {
    color: white;
}

.p {
    color: white;
}
.cart {
    padding: 40px 80px;
    overflow-x: auto;
}

.cart table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    white-space: nowrap;
}

.cart table thead {
    border: 1px solid #e2e2e2;
    border-left: none;
    border-right: none;
}

.cart table thead td {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 13px;
    padding: 18px 0;
}

.cart table tbody tr td {
    padding-top: 15px;
}

.cart table tbody td {
    font-size: 15px;
}

.cart table img {
    width: 60px;
}

.cart table td:nth-child(1) {
    width: 100px;
    text-align: center;

}

.cart table td:nth-child(2) {
    width: 150px;
    text-align: center;

}

.cart table td:nth-child(3) {
    width: 250px;
    text-align: center;

}

.cart table td:nth-child(4) {
    width: 280px;
    text-align: center;

}
.cart table td:nth-child(6) {
    width: 300px;
    text-align: center;

}

.cart table td:nth-child(5) input {
    width: 70px;
    padding: 10px 5px 10px 15px;

}
.cart-add{
    padding: 40px 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.coupon{
  width: 50%;
  margin-bottom: 30px;
}
.coupon h3,
.sub-total h3 {
    padding-bottom: 15px;
}
.coupon input{
    padding: 10px 20px;
    outline: none;
    width: 60%;
    margin-right: 10px;
    border: 1px solid #e2e2e2;
}
.coupon button,
.sub-total button{
    background-color: #088178;
    color: #fff;
    padding: 12px 20px;
}
.sub-total{
    width: 50%;
    margin-bottom: 30px;
    border: 1px solid #e2e2e2;
    padding: 30px;
}
.sub-total table{
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
}
.sub-total table td{
    width: 50%;
    border: 1px solid #e2e2e2;
    padding: 10px;
    font-size: 13px;
}
@media (max-width:799px){
    .cart {
        padding: 20px 40px;
         
    }
}
@media (max-width: 477px) {
    .cart-add {
         flex-direction: column;
         padding: 10px 20px;
        
    }    
    .coupon {
        width: 100%;
     }
     .sub-total {
        width: 100%;
        padding: 20px;
    }
}
